
<div id="contenido">
    <h1 id="introducci-n">Introducción</h1>
    <h3 id="-qu-es-un-programa-">¿Qué es un programa?</h3>
    <p><div style="text-align: justify">
        Como se ha adelantado esta guía pretende ser un recorrido más integral, que abarque las nociones fundamentales de programación y ofrecer herramientas para implementarlas en Python. Sin perjuicio de aquella integralidad, pretende también ofrecer un acercamiento tan <i>amiglable</i> como lo puedan ser las otras fuentes disponibles. Por ello se mantendrá el clásico ejemplo de <i>hola mundo</i> pero deteniéndonos un poco más en la nociones fundamentales. Veamos.
    </div><br></p>
    <p><div style="text-align: justify"></div><br></p>
    <p><div style="text-align: justify"></div><br></p>
    <p><div style="text-align: justify"></div><br></p>
    <p><div style="text-align: justify"></div><br></p>
</div>
<footer id="footer" hx-swap-oob="true">
    <div style="display:flex; text-justify: right; justify-content: space-between;">
      <h3><a class="flecha" hx-get="./0.%20Primeros%20Pasos.html" hx-target="#contenido" hx-select="#contenido" hx-swap="outerHTML"> <span
            class="material-symbols-outlined" style="align-self: center;">
            west
          </span> Primeros Pasos </a>
      </h3>
      <h3><a class="flecha" hx-get="./i.a%Esquema%20Compilador%20-%20Intérprete.html" hx-target="#contenido" hx-select="#contenido"
          hx-swap="outerHTML"> Esquema Compilador - Intérprete <span class="material-symbols-outlined" style="align-self: center;">
            east
          </span> </a>
      </h3>
    </div>
  </footer>