<div id="contenido">
  <h1>Básicas de Python</h1>

  <p>Contenido pendiente...</p>
</div>
<footer id="footer" hx-swap-oob="true">
    <div style="display:flex; text-justify: right; justify-content: space-between;">
        <h3><a class="flecha" hx-get="./i.c1%20Tamaño%20de%20los%20tipos%20principales.html" hx-target="#contenido" hx-select="#contenido" hx-swap="outerHTML"> <span class="material-symbols-outlined" style="align-self: center;">west</span> Tamaño de Tipos </a></h3>
        <h3><a class="flecha" hx-get="./iii.%20Sintaxis.html" hx-target="#contenido" hx-select="#contenido" hx-swap="outerHTML"> Sintaxis <span class="material-symbols-outlined" style="align-self: center;">east</span> </a></h3>
    </div>
</footer> 