<div id="contenido">
  <h1>Objetos. <em>Parte 2)</em></h1>
  <h2><strong>Métodos "Mágicos" (__dunder__)</strong></h2>

  <p>Contenido pendiente...</p>
</div>
<footer id="footer" hx-swap-oob="true">
    <div style="display:flex; text-justify: right; justify-content: space-between;">
        <h3><a class="flecha" hx-get="./v.%20Objetos.%201)%20Estructura%20General.html" hx-target="#contenido" hx-select="#contenido" hx-swap="outerHTML"> <span class="material-symbols-outlined" style="align-self: center;">west</span> Estructura General </a></h3>
        <h3><a class="flecha" hx-get="./v.%20Objetos.%203)%20Metaclases,%20genéricos%20.html" hx-target="#contenido" hx-select="#contenido" hx-swap="outerHTML"> Metaclases <span class="material-symbols-outlined" style="align-self: center;">east</span> </a></h3>
    </div>
</footer> 