
:root{
  --principal: #e1e1e1;
  --gris: #8e8e8e;
  --acento: #7fd2bd;
  --fondo: #202020;
  --negro: #090909

}
*{
  transition: all 300ms ease-in-out;
}

*:not(html,body,#contenedor-pagina){scrollbar-width: none;}
*:not(html,body,#contenedor-pagina)::-webkit-scrollbar{display: none;}
html,body{
  background-color: var(--fondo)!important;
}
html,*{
  background-color: var(--fondo);
  color:var(--principal);
  max-width: 100vw;
  overflow-x: hidden;
  overflow-x: clip;
}
*{
  background-color: transparent;
}

body{
  padding: 0;
  display: grid;
  grid:
  "indice contenido" 1fr
  "footer footer" 10vh
  / 20vw 1fr
  ;
  gap: 2.5vw;
}

footer{
  grid-area: footer;
  border-top: solid 2px var(--principal);
  border-bottom: solid 2px var(--principal);
  padding: 0vh 2.5vw;
}
#indice{
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  grid-area: indice;
  height: 89vh;
  overflow-y: scroll;
  width: 15vw;
  padding: 0vh;
  padding-left: 5vw;
}
#contenido{
  padding: 0vh;
  padding-right: 10vw;
  grid-area: contenido;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.flecha{
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  align-content: center;
  text-decoration: none;


}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  .tab button.active {
    background-color: #ccc;
  }
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

ol,ul{
  padding-left: .5vw;
  font-size: small;
}

*[hx-get],*[hx-post]{
  cursor: pointer;
}

a[hx-get]:not(.flecha):hover{
  text-decoration: underline;
  color: var(--acento)!important;
}
a[hx-get].flecha:hover{
  & *{
    color: var(--fondo)!important;
  }
  background-color: var(--acento)!important;
  color: var(--fondo)!important;
}

*:has(code){
  line-height: 1.3em;
}
code{
  margin: .15em;
  padding: .3em;
  border-radius: .3em;
  background-color: var(--acento);
}

div:has(>pre>code){
  width: 100%;
  max-width: 100vw;
  height: max-content;
  padding: .1em .5em;
  border-radius: .3em;
background-color:var(--negro);
}
div:has(pre>code)>pre>code{
  background-color: transparent;
}